<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag :all %>
      <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  <%= javascript_include_tag "prototype","effects","controls", "rails"%>
  <%= csrf_meta_tag %>
</head>
<body>
 <!--   <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">todo</a>
          <ul class="nav">
    <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> 
          </ul>
        </div>
      </div>
    </div>
-->
<div class="container">

<%= yield %>

</div>
</body>
</html>
